/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* this will float left */
section {
  float: left;
  margin: 0 1.5%;
  width: 63%;
  padding-top: 50px;
}

/* this will float right */
aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}

.aside-img {
  max-width: 80%;
}

nav {
  /* inline-block seems to wrap the navbar around the section */
  display: block;
  margin-top: -30px;
  margin-bottom: 9px;
  padding-top: 0px;
  padding-left: 0px;
  text-align: center;

}
nav ul {
  margin: 2px auto;
}

nav li {
  padding-right: 15px;
  padding-left: 15px;
}

footer {
  margin: 2px auto;
  text-align: center;
clear: both;
font-size: 12px;
margin: 0px 0px;
}

/* default container dimensions I was initially using */
.container {
  background-color: #1B2631;
  /* auto automatically centers the container; 0px is for top/bottom margins */
  margin: 0px auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0;
  padding-bottom; 0;
  width: 966px;
}
.frame-container {
  background-color: #263238;
  border: 1px solid #424242;
  margin: 2px;
}

.news-container {
  background-color: #020A13;
  border: 1px solid #424242;
  margin-left: 20px;
  margin-top: 20px;
  width: 63%;
}

.aside-container {
  background-color: #020A13;
  border: 1px solid #424242;
  width: 200px;
  margin: 100px 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-style: italic;
}

.footer-container {
  margin: 2px;
  background-color: #020A13;
  border: 1px solid #424242;
}

.about {
display: block;
padding-top: 0;
}

.banner-container{
	padding: 2px;
  /*
  border-width: 2px;
  border-color: #ffffff;
  */
}
.banner {
    border: 1px solid #424242;
}

.left {
	float: left;
}

.right {
padding-top: 40px;
padding-left: 170px;
padding-right: ;
margin-left: ;
margin-right: ;
float: ;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .08rem;
  color:  #5e5e5e  ;
  margin-bottom: 5px;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: 10px;
}

p {
  color: #5e5e5e  ;
  font: 16px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

h2 {
	font-size: 18px;
}


a {
  font-weight: ;
  color: #CCCCCC;
  /*color: #76D7C4; */
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
   /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
a:hover {
  color: #AED6F1;
  font-size: 14px;
  text-transform: uppercase;
}

/*
a:visited {
  color: #0C0D0D;
}
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #CCCCCC  ;
  /* the rem font-size value has innate padding! */
  font-size: 16px;
}

hr {
border: 0;
height: 2px;
background: #f1f1f1;
}

li {
  display: inline;
}
