/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

div.image {
  content:url(http://aemaeth0.github.io/fast-forward.png);
  max-width: ;
}

.aside-img {
  max-width: 90%;
}

/*
  ========================================
  Menu/Navigation
  ========================================
*/
nav {
  /* inline-block seems to wrap the navbar around the section */
  display: block;
  margin-left: 10px;
  margin-top: -30px;
  /* this pushes the nav container down to give room for frame container */
  margin-bottom: 11px;
  padding-top: 0px;
  padding-left: 0px;
  /*text-align: center;*/

}
ul {
  margin: 2px auto;
}

ul li {
  padding-right: 15px;
  padding-left: 15px;
}

ul li a{
  color: #0C0D0D;
    text-transform: uppercase;
}

footer {
    background-color: #020A13;
  margin: 2px auto;
  text-align: center;
clear: both;
font-size: 12px;
margin: 0px 0px;
border: 1px solid #424242;
}

/*
  ========================================
  Accordion
  ========================================
*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #263238;
    font-size: 18px;
    color: #0C0D0D;
    text-transform: uppercase;
    /* gives room under each accordion button */
    margin-bottom: 2px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border: 1px solid #424242;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #898989;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #020A13;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: url(http://aemaeth0.github.io/close.png); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: url(http://aemaeth0.github.io/open.png); /* Unicode character for "minus" sign (-) */
}

/*
  ========================================
  Containers
  ========================================
*/

/* default container dimensions I was initially using */
#main-container {
  background-color: #020A13;
  /*background-color: #1B2631;*/
  /* auto automatically centers the container; 0px is for top/bottom margins */
  margin: 0px auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0;
  padding-bottom; 0;
  width: 966px;
}
.content-container {
  background-color: #263238;
  border: 1px solid #424242;
  margin: 2px;
}

/* this will float left */
section {
  float: left;
  margin: 0 1.5%;
  width: 63%;
  padding-top: 20px;
}


section .left {
  margin-left: 20px;
  margin-top: 25px;
  /* this moves footer away from news container */
  margin-bottom: 50px;
  padding-bottom: 10px;
  /*gives left padding to all the text inside the news container */
  padding-left: 15px;
  width: 63%;

}

/* can't be section .news div for some reason */
.news {
  margin-top: 20px;
  padding: 10px 5px;
  background-color: #020A13;
  /* background-color: #020A13; */
  border: 1px solid #424242;
}

/* this will float right */
aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}

.aside-random {
  background-color: #020A13;
  border: 1px solid #424242;
  width: 200px;
  margin-left: 50px;
  margin-top: 150px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 12px;
  font-style: italic;
}

.footer-container {
  margin: 2px;
  background-color: #020A13;
  border: 1px solid #424242;
}

.about {
display: block;
padding-top: 0;
}

.banner-container{
	padding: 2px;
  /*
  border-width: 2px;
  border-color: #ffffff;
  */
}
.banner {
    border: 1px solid #424242;
}

.left {
	float: left;
}

.right {
padding-top: 40px;
padding-left: 170px;
padding-right: ;
margin-left: ;
margin-right: ;
float: ;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .08rem;
  color:   #5e5e5e;
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 15px;
  margin-top: 0px;
}

p {
  color: #898989 ;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 0px;
}

h2 {
	font-size: 18px;
  margin-left: 0px;
  margin-bottom: 15px;
}


a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: ;
  color: #AED6F1;

  /*color: #76D7C4; */
  font-size: 14px;
  text-transform: ;
  text-decoration: none;
   /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
a:hover {
  color: #CCCCCC;
  font-size: 14px;
  text-transform: ;
}

/*
a:visited {
  color: #0C0D0D;
}
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #898989 ;
  /* the rem font-size value has innate padding! */
  font-size: 14px;

}

hr {
border: 0;
height: 2px;
background: #f1f1f1;
}

li {
  display: inline;
}
